@import "../grid2.less";

body {
    color: #000;
    background: #fff;
    font: 100% sans-serif;
    margin: 0;
}

header {
    h1 {
        color: #333;
        font-size: 36px;
        margin: 0;
        text-align: center;
    }

    h2 {
        color: #666;
        font-size: 24px;
        margin: 0;
        text-align: center;
    }
}

footer {
    ul {
        display: table;
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        text-align: center;
    }

    li {
        display: inline-block;
        margin: 0 10px;
    }
}

article {
    background: rgba(0, 0, 255, 0.5);

    article {
        background: rgba(0, 0, 0, 0.25);
    }

    & > div {
        color: #fff;
        font-size: 12px;
        padding: 24px;
        text-align: center;
    }
}

#Page1 {
    .grid(100%, 16, 5%, true);

    margin: 20px auto;
    //padding: 20px;
    //border: 20px solid #000;
    //box-sizing: border-box;

    & > header,
    & > footer,
    & > section {
        .grid-row;
    }

    & > section > article {
        .grid-column(2);
    }
}

#Page2 {
    .grid(1280px, 16, 64px, true);

    margin: 20px auto;
    //padding: 20px;
    //border: 20px solid #000;
    //box-sizing: border-box;

    & > header,
    & > footer,
    & > section {
        .grid-row;
    }

    & > section > article {
        .grid-column(2);
    }
}
