@import url("http://fonts.googleapis.com/css?family=Lato:300,400,700");

@font-face {
    font-weight: normal;
    font-style: normal;
    font-family: FontAwesome;
    src: url("../../../lib/fontawesome/fontawesome-webfont.eot?v=3.2.1");
    src: url("../../../lib/fontawesome/fontawesome-webfont.eot?#iefix&v=3.2.1") format("embedded-opentype"),
         url("../../../lib/fontawesome/fontawesome-webfont.woff?v=3.2.1") format("woff"),
         url("../../../lib/fontawesome/fontawesome-webfont.ttf?v=3.2.1") format("truetype"),
         url("../../../lib/fontawesome/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1") format("svg");
}

body {
    margin: 0;
    font: normal normal normal 100%/1 Lato, Calibri, Arial, sans-serif;
    color: #fff;
    background-color: #e74c3c;
}

[role="navigation"] {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: rgba(255, 255, 255, 0.2);
}

[role="navigation"]:after {
    display: table;
    clear: both;
    content: "";
}

[role="navigation"] > li:first-child {
    float: left;
}

[role="navigation"] > li:last-child {
    float: right;
}

[role="navigation"] a {
    display: table-cell;
    vertical-align: middle;
    height: 2.273em;
    padding: 0 1em;
    color: #c0392b;
    font-weight: 400;
    font-size: 0.688em;
    letter-spacing: 0.182em;
    text-transform: uppercase;
    text-decoration: none;
}

[role="navigation"] a:hover:not([aria-disabled="true"]),
[role="navigation"] a:active:not([aria-disabled="true"]) {
    color: #e74c3c;
    background-color: rgba(255, 255, 255, 0.6);
}

[role="navigation"] a[aria-disabled="true"] {
    opacity: 0.4;
}

[role="navigation"] a.icon-prev:before,
[role="navigation"] a.icon-next:after {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0.273em;
    font: normal normal normal 1.273em/0 FontAwesome;
    speak: none;
}

[role="navigation"] a.icon-prev:before {
    margin-right: 0.273em;
    content: "\f060";
}

[role="navigation"] a.icon-next:after {
    margin-left: 0.273em;
    content: "\f061";
}

[role="banner"] {
    padding: 3em;
    text-align: center;
    background-color: #d94839;
}

[role="banner"] > h1 {
    margin: 0;
    color: rgba(255, 255, 255, 1);
    font-weight: 300;
    font-size: 3em;
}

[role="banner"] > h2 {
    margin: 0;
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
    font-size: 1.5em;
    line-height: 1.5;
}

[role="main"] {
    max-width: 60em;
    margin: 0 auto;
    padding: 2em;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

[role="main"] > div {
    float: left;
    width: 50%;
    padding: 0 2em;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

[role="main"] > div:first-child  {
    text-align: right;
}

[role="main"] > div:last-child  {
    -webkit-box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1);
       -moz-box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1);
            box-shadow: -1px 0 0 rgba(0, 0, 0, 0.1);
}

[role="main"] p {
    margin: 0;
    font-weight: 300;
    font-size: 2em;
    line-height: 1.5;
}

[role="main"] button {
    float: left;
    margin: 0.25em;
    padding: 0.5em 1em;
    border: none;
    color: #fff;
    background-color: #c0392b;
    font-weight: 400;
    font-size: 0.875em;
    font-family: Lato, Calibri, Arial, sans-serif;
    letter-spacing: 0.125em;
    text-transform: uppercase;
    cursor: pointer;
    -webkit-border-radius: 0.25em;
       -moz-border-radius: 0.25em;
            border-radius: 0.25em;
}

[role="main"] button:hover {
    background-color: #a5281b;
}

@media screen and (max-width: 48em) {
    [role="main"] {
        padding: 0 2em;
    }

    [role="main"] > div {
        width: 100%;
        padding: 2em 0;
    }

    [role="main"] > div:first-child {
        text-align: left;
    }

    [role="main"] > div:last-child {
        -webkit-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
           -moz-box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
                box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
    }

    [role="main"] p {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 32em) {
    body {
        font-size: 75%;
    }
}

@media screen and (max-width: 20em) {
    [role="navigation"] a.icon-prev:before {
        margin-right: 0;
    }

    [role="navigation"] a.icon-next:after {
        margin-left: 0;
    }

    [role="navigation"] span {
        display: none;
    }
}