html, body {
    margin: 0;
    padding: 0;
}

body {
    font: 300 100% Lato, Calibri, Arial, sans-serif;
    color: #fff;
    background-color: #000;
}

.buttons {
    position: fixed;
    z-index: 1000;
    top: 10px;
    left: 10px;
    right: 10px;
}

.box {
    font-size: 2em;
    width: 200px;
    margin: 100px auto;
    padding: 50px;
    text-align: center;
    background-color: #1abc89;
}
