/* grid */
@column-width:                              60;
@gutter-width:                              20;
@columns:                                   12;
@gridsystem-width:                          (@column-width * @columns) + (@gutter-width * @columns) * 1px;
@total-width:                               @gridsystem-width;

.row(@columns: @columns) {
    width: @total-width * ((@gutter-width + @gridsystem-width) / @gridsystem-width);
    margin: 0 @total-width * (((@gutter-width * 0.5) / @gridsystem-width) * -1);
    .clearfix;
}

.column(@x, @columns: @columns) {
    float: left;
    width: @total-width * ((((@gutter-width + @column-width) * @x) - @gutter-width) / @gridsystem-width);
    margin: 0 @total-width * ((@gutter-width * 0.5) / @gridsystem-width);
}

.push(@offset: 1) {
    margin-left: @total-width * (((@gutter-width + @column-width) * @offset) / @gridsystem-width) + @total-width * ((@gutter-width * 0.5) / @gridsystem-width);
}

.pull(@offset: 1) {
    margin-right: @total-width * (((@gutter-width + @column-width) * @offset) / @gridsystem-width) + @total-width * ((@gutter-width * 0.5) / @gridsystem-width);
}

/* gradient */
.horizontal-gradient(@startColor, @endColor) {
    background-repeat: repeat-x;
    background-image: -webkit-gradient(linear, 0 0, 100% 0, from(@startColor), to(@endColor));
    background-image: -webkit-linear-gradient(left, @startColor, @endColor);
    background-image:    -moz-linear-gradient(left, @startColor, @endColor);
    background-image:     -ms-linear-gradient(left, @startColor, @endColor);
    background-image:      -o-linear-gradient(left, @startColor, @endColor);
    background-image:         linear-gradient(to right, @startColor, @endColor);
}

.vertical-gradient(@startColor, @endColor) {
    background-repeat: repeat-x;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), to(@endColor));
    background-image: -webkit-linear-gradient(top, @startColor, @endColor);
    background-image:    -moz-linear-gradient(top, @startColor, @endColor);
    background-image:     -ms-linear-gradient(top, @startColor, @endColor);
    background-image:      -o-linear-gradient(top, @startColor, @endColor);
    background-image:         linear-gradient(to bottom, @startColor, @endColor);
}

.directional-gradient(@startColor, @endColor, @degrees) {
    background-repeat: repeat-x;
    background-image: -webkit-linear-gradient(@degrees, @startColor, @endColor);
    background-image:    -moz-linear-gradient(@degrees, @startColor, @endColor);
    background-image:     -ms-linear-gradient(@degrees, @startColor, @endColor);
    background-image:      -o-linear-gradient(@degrees, @startColor, @endColor);
    background-image:         linear-gradient(@degrees, @startColor, @endColor);
}

.no-gradient() {
    background-repeat: no-repeat;
    background-image: none;
}

/* background clip */
.background-clip(@clip) {
    -webkit-background-clip: @clip;
       -moz-background-clip: @clip;
            background-clip: @clip;
}

.background-clip-padding-box() {
    -webkit-background-clip: padding-box;
       -moz-background-clip: padding;
            background-clip: padding-box;
}

/* border radius */
.border-radius(@radius) {
    -webkit-border-radius: @radius;
       -moz-border-radius: @radius;
            border-radius: @radius;
}

.border-top-left-radius(@radius) {
    -webkit-border-top-left-radius: @radius;
        -moz-border-radius-topleft: @radius;
            border-top-left-radius: @radius;
}

.border-top-right-radius(@radius) {
    -webkit-border-top-right-radius: @radius;
        -moz-border-radius-topright: @radius;
            border-top-right-radius: @radius;
}

.border-bottom-left-radius(@radius) {
    -webkit-border-bottom-left-radius: @radius;
        -moz-border-radius-bottomleft: @radius;
            border-bottom-left-radius: @radius;
}

.border-bottom-right-radius(@radius) {
    -webkit-border-bottom-right-radius: @radius;
        -moz-border-radius-bottomright: @radius;
            border-bottom-right-radius: @radius;
}

.border-top-radius(@radius) {
    .border-top-right-radius(@radius);
    .border-top-left-radius(@radius);
}

.border-bottom-radius(@radius) {
    .border-bottom-right-radius(@radius);
    .border-bottom-left-radius(@radius);
}

.border-left-radius(@radius) {
    .border-top-left-radius(@radius);
    .border-bottom-left-radius(@radius);
}

.border-right-radius(@radius) {
    .border-top-right-radius(@radius);
    .border-bottom-right-radius(@radius);
}

/* box sizing */
.box-sizing(@sizing) {
    -webkit-box-sizing: @sizing;
       -moz-box-sizing: @sizing;
            box-sizing: @sizing;
}

/* box shadow */
.box-shadow(@shadow) {
    -webkit-box-shadow: @shadow;
       -moz-box-shadow: @shadow;
            box-shadow: @shadow;
}

/* caret */
.caret() {
    display: inline-block;
    vertical-align: middle;
    content: "";
}

.caret-up(@width, @height, @color) {
    .caret;
    border-bottom: @height solid @color;
    border-left: @width / 2 solid transparent;
    border-right: @width / 2 solid transparent;
}

.caret-down(@width, @height, @color) {
    .caret;
    border-top: @height solid @color;
    border-left: @width / 2 solid transparent;
    border-right: @width / 2 solid transparent;
}

.caret-left(@width, @height, @color) {
    .caret;
    border-right: @width solid @color;
    border-top: @height / 2 solid transparent;
    border-bottom: @height / 2 solid transparent;
}

.caret-right(@width, @height, @color) {
    .caret;
    border-left: @width solid @color;
    border-top: @height / 2 solid transparent;
    border-bottom: @height / 2 solid transparent;
}

/* animation */
.animation(@animation) {
    -webkit-animation: @animation;
       -moz-animation: @animation;
        -ms-animation: @animation;
         -o-animation: @animation;
            animation: @animation;
}

/* transition */
.transition(@transition) {
    -webkit-transition: @transition;
       -moz-transition: @transition;
        -ms-transition: @transition;
         -o-transition: @transition;
            transition: @transition;
}

.transition-property(@property) {
    -webkit-transition-property: @property;
       -moz-transition-property: @property;
        -ms-transition-property: @property;
         -o-transition-property: @property;
            transition-property: @property;
}

.transition-duration(@duration) {
    -webkit-transition-duration: @duration;
       -moz-transition-duration: @duration;
        -ms-transition-duration: @duration;
         -o-transition-duration: @duration;
            transition-duration: @duration;
}

.transition-delay(@delay) {
    -webkit-transition-delay: @delay;
       -moz-transition-delay: @delay;
        -ms-transition-delay: @delay;
         -o-transition-delay: @delay;
            transition-delay: @delay;
}

.transition-timing-function(@function) {
    -webkit-transition-timing-function: @function;
       -moz-transition-timing-function: @function;
        -ms-transition-timing-function: @function;
         -o-transition-timing-function: @function;
            transition-timing-function: @function;
}

/* transform */
.transform(@transform) {
    -webkit-transform: @transform;
       -moz-transform: @transform;
        -ms-transform: @transform;
         -o-transform: @transform;
            transform: @transform;
}

.transform-origin(@origin) {
    -webkit-transform-origin: @origin;
       -moz-transform-origin: @origin;
        -ms-transform-origin: @origin;
         -o-transform-origin: @origin;
            transform-origin: @origin;
}

.transform-transition(@transition) {
    -webkit-transition: -webkit-transform @transition;
       -moz-transition:    -moz-transform @transition;
        -ms-transition:     -ms-transform @transition;
         -o-transition:      -o-transform @transition;
            transition:         transform @transition;
}

.transform-style(@style) {
    -webkit-transform-style: @style;
       -moz-transform-style: @style;
        -ms-transform-style: @style;
         -o-transform-style: @style;
            transform-style: @style;
}

/* rotate */
.rotate(@angle) {
    .transform(rotate(@angle));
}

.rotate3d(@x, @y, @z, @angle) {
    .transform(rotate3d(@x, @y, @z, @angle));
}

.rotateX(@angle) {
    .transform(rotateX(@angle));
}

.rotateY(@angle) {
    .transform(rotateY(@angle));
}

.rotateZ(@angle) {
    .transform(rotateZ(@angle));
}

/* scale */
.scale(@xy) {
    .transform(scale(@xy));
}

.scale(@x, @y) {
    .transform(scale(@x, @y));
}

.scale3d(@x, @y, @z) {
    .transform(scale3d(@x, @y, @z));
}

.scaleX(@x) {
    .transform(scaleX(@x));
}

.scaleY(@y) {
    .transform(scaleY(@y));
}

.scaleZ(@z) {
    .transform(scaleZ(@z));
}

/* skew */
.skew(@angle) {
    .transform(skew(@angle));
}

.skewX(@angle) {
    .transform(skewX(@angle));
}

.skewY(@angle) {
    .transform(skewY(@angle));
}

/* translate */
.translate(@x, @y) {
    .transform(translate(@x, @y));
}

.translate3d(@x, @y, @z) {
    .transform(translate3d(@x, @y, @z));
}

.translateX(@x) {
    .transform(translateX(@x));
}

.translateY(@y) {
    .transform(translateY(@y));
}

.translateZ(@z) {
    .transform(translateZ(@z));
}

/* user select */
.user-select(@value) {
    -webkit-touch-callout: @value;
      -webkit-user-select: @value;
         -moz-user-select: @value;
          -ms-user-select: @value;
           -o-user-select: @value;
              user-select: @value;
}

.no-user-select() {
    .user-select(none) !important;
}

/* miscellaneous */
.filter(@filter) {
    -webkit-filter: @filter;
       -moz-filter: @filter;
        -ms-filter: @filter;
         -o-filter: @filter;
            filter: @filter;
}

.perspective(@perspective) {
    -webkit-perspective: @perspective;
       -moz-perspective: @perspective;
        -ms-perspective: @perspective;
         -o-perspective: @perspective;
            perspective: @perspective;
}

.backface-visibility(@visibility) {
    -webkit-backface-visibility: @visibility;
       -moz-backface-visibility: @visibility;
        -ms-backface-visibility: @visibility;
         -o-backface-visibility: @visibility;
            backface-visibility: @visibility;
}

.icon(@content) {
    &:before {
        display: inline-block;
        content: @content;
        speak: none;
    }
}

.clearfix() {
    &:before {
        content: "";
        display: table;
    }
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}
