[data-trendy-component='grid'] {
    position: relative;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
       -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
         -o-backface-visibility: hidden;
            backface-visibility: hidden;
}

[data-trendy-component='grid'] > * {
    position: absolute;
}

[data-trendy-component='grid'] > [aria-hidden='true'] {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: scale(0.6) rotate(45deg);
       -moz-transform: scale(0.6) rotate(45deg);
        -ms-transform: scale(0.6) rotate(45deg);
         -o-transform: scale(0.6) rotate(45deg);
            transform: scale(0.6) rotate(45deg);
}

[data-trendy-component='grid'] > [aria-hidden='false'] {
    z-index: 999;
}